@charset "UTF-8";
::selection {
  color: white;
  background: #ae81ff;
}

/* Code for Firefox */
::-moz-selection {
  color: white;
  background: #ae81ff;
}

ul {
  padding-left: 0;
}

a,
a:hover,
a:active,
a:visited,
a:link {
  color: #333;
  cursor: pointer !important;
}

li {
  display: inline;
}

main {
  background: white;
}

/* nav */
/* hero */
/* nav */
nav {
  position: absolute;
  width: 100%;
  height: 100px;
  background: linear-gradient(rgba(56, 56, 68, 0.4), rgba(56, 56, 68, 0.2), transparent, transparent, transparent);
  /* Standard syntax */
  z-index: 1;
}

.navbar-brand {
  color: white;
  margin: 0 0 0 10px;
  padding: 10px;
}

/* hero */
.hero-inner-container {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-inner-container--bg-vid {
  position: absolute;
}

.hero {
  position: relative;
  width: 100%;
  margin-bottom: 75px;
}

.hero--bg-vid0 {
  padding-bottom: 46.875%;
}

.hero--bg-cbbl {
  background-image: url("/tmf/res/graphics/bg-cbbl.jpg");
  background-size: 100%;
}

.hero__bg-vid {
  position: absolute;
  width: 100%;
}

.hero--md {
  height: 550px;
}

.hero__header {
  color: white;
  margin: 0;
  font-weight: 300;
  background: black;
  color: white;
  padding: 10px 30px 0 30px;
  line-height: 0.9;
}

.hero__caption {
  color: white;
  margin: 0;
  font-weight: 500;
  background: black;
  color: white;
  padding: 5px 15px 4px 15px;
  margin-top: 10px;
  letter-spacing: 4px;
  font-style: italic;
  transform: skewX(17deg);
}

.hero__down-arrow {
  margin-top: 50px;
  color: white;
}

.animation-nod {
  -webkit-animation-name: nod;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s;
  /* Chrome, Safari, Opera */
  animation-name: nod;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes nod {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }

  75% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}
/* Standard syntax */
@keyframes nod {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }

  75% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}
.hero__header--lg {
  line-height: 1.1;
  padding: 0 30px;
  white-space: nowrap;
}
.hero__header--lg::before, .hero__header--lg::after {
  content: " - ";
}

/* footer-map */
.footer-map {
  margin-top: 70px;
  padding-top: 15px;
  background: #eee;
  min-height: 220px;
  font-size: 12px;
  color: #777;
}

.footer__header {
  letter-spacing: 1px;
  color: #555;
}

.footer__footer {
  margin-top: 20px;
}

.footer__anchor-tag {
  color: #777 !important;
}
.footer__anchor-tag:hover {
  color: #777 !important;
}

body {
  font-family: Raleway, Calibri, sans-serif;
  color: #333;
}

.text-faded {
  color: #ccc;
  opacity: 0.7;
}

.text-light {
  font-weight: 200;
}

.text-flavor-primary {
  color: #a4d9ea;
}

.text-flavor-secondary {
  color: #4ba5d8;
}

.no-margin {
  margin: 0;
}

.hr--bold {
  margin-top: 0;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #777;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .p {
  cursor: default;
}

h1, .h1 {
  font-size: 72px;
}

h2, .h2 {
  font-size: 64px;
}

h3, .h3 {
  font-size: 48px;
}

h4, .h4 {
  font-size: 36px;
}

h5, .h5 {
  font-size: 28px;
}

h6, .h6 {
  font-size: 16px;
}

p, .p, label, .label {
  font-size: 14px;
}

input {
  font-size: 13px;
  color: #777777;
}
input:focus, input:active {
  color: black;
}

address {
  color: #ccc;
  font-size: 12px;
  letter-spacing: 0.4px;
}

footer * {
  margin: 2px;
}
footer a {
  margin: 0;
}

/* player */
.player {
  display: block;
  height: 200px;
  margin-bottom: 40px;
}

.player-min {
  height: 250px;
  display: inline-block;
}

.player__picture {
  border-radius: 50%;
  margin-right: 20px;
  height: 200px;
}

.player__picture--balance {
  margin: 0 10px;
}

.player__name {
  display: inline;
  font-size: 32px;
  margin-right: 5px;
}

.player__role {
  display: inline;
  font-size: 32px;
  color: #50585C;
  font-weight: 200;
}

.player-description {
  font-size: 16px;
  color: #50585C;
  font-weight: 200;
}

.player__rank {
  height: 15px;
  margin-left: 6px;
  margin-bottom: 8px;
}

.player__nickname {
  color: #383944;
}
.player__nickname::after {
  content: "”";
}
.player__nickname::before {
  content: "“";
}

.player__coin-twa {
  margin: 3px;
  margin-top: 2px;
  position: absolute;
}

.player__coin {
  max-height: 22px;
  display: inline;
}

.player__coins-container {
  margin-bottom: 3px;
}

.player__picture-container {
  display: inline;
  height: 200px;
}

.player__text-container {
  height: 200px;
}

/* roster ! Made for li */
.roster {
  list-style-type: disc;
  background: #eee;
  padding: 5px 0 5px 40px;
  max-width: 300px;
}

.roster li {
  display: list-item;
}

.block-list {
  list-style-type: none;
}

.block-list li {
  display: list-item;
}

/*button-social*/
.button-social {
  font-size: 22px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
  cursor: pointer;
  text-align: center;
  -webkit-transition: 0.1s;
  /* Safari */
  transition: 0.1s;
  border-top: 0px solid #fff;
  display: inline;
  float: left;
}
.button-social:first-child {
  margin-left: 0;
}
.button-social:hover {
  padding-top: 2px;
}

.button-social--twitter:hover {
  color: #5ab6fc;
  filter: drop-shadow(0px 0px 0.3px #aaaaaa);
}

.button-social--github:hover {
  color: purple;
  filter: drop-shadow(0px 0px 0.3px #aaaaaa);
}

.button-social--steam:hover {
  color: #0b0e0f;
  filter: drop-shadow(0px 0px 0.3px #aaaaaa);
}

.button-social--cevo {
  font-size: 17px !important;
  line-height: 30px !important;
}
.button-social--cevo:hover {
  color: #1eabe2;
  filter: drop-shadow(0px 0px 0.3px #aaaaaa);
}
