.text-light
{
	font-weight: 200;
}

.text-flavor-primary
{
	color: $color-flavor-primary !important;
}


.text-flavor-secondary
{
	color: $color-flavor-secondary !important;
}


.text-white
{
	color: #fff !important;
}

.no-margin
{
	margin: 0;
}

.heading-u
{
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}

.heading-u--light-margin
{
	margin-top: 3px;
	margin-bottom: 5px;
}

.heading-u--header-margin
{
	margin-top: 0;
    margin-bottom: 10px;
    //border: 0;
}

.heading-u--header-margin
{
	margin-top: 0;
    margin-bottom: 10px;
    //border: 0;
}

.heading-u--gray-semidark
{
    border-top: 1px solid $color-gray-semidark;
}



h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6,  p, .p
{
	cursor: default;
}
		
h1, .h1 { font-size: 72px; }
h2, .h2 { font-size: 64px; }
h3, .h3 { font-size: 48px; }	
h4, .h4 { font-size: 36px; }
h5, .h5 { font-size: 28px; }
h6, .h6 { font-size: 16px; }
	
p, .p, label, .label
{
	font-size: 14px;
	line-height: 1.5;
}
	

.required-ast:after
{
	color: red;
	content: '*';
	display: inline;
	margin-left: 2px;
	font-size: 18px;
}
	
address
{
	color: #ccc;
	font-size: 12px;
	letter-spacing: 0.4px;
}
		